/* General reset and full-screen settings */
body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    background-color: #000;
    user-select: none;
}

h1 {
    display: block;
    width: min-content;
    height: min-content;
    position: relative;
    font-size: xx-large;
    margin-left: 10%;
}

.canvascontainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 2% 10%;
}

.canvascaption {
    margin: 0;
    padding: 1%;
    text-align: center;
    user-select: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

.canvasbox {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Canvas styling */
canvas {
    width: 100%;
    height: 100%;
    display: block;
    cursor: all-scroll;
    touch-action: none;
}

#background {
    position: fixed;
}

/* Panel styling */
#panel {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5%;
    overflow-y: auto;
}

#overlay-header {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;
    margin-bottom: 2%;
}

/* Overlay styling */
.control {
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Overlay info styling */
#overlay-info {
    user-select: none;
    height: min-content;
    width: 100%;
}

#overlay-info ul {
    padding: 0;
    margin: 0 0 0 20px;
}

/* Overlay label styling */
.control label {
    user-select: none;
    padding: 1% 0;
}

/* Tooltip styling */
.tooltip {
    user-select: none;
    position: absolute;
    display: none;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: end;
    color: white;
    right: 2%;
}

.fullscreen-button {
    width: min-content;
    height: min-content;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    border-style: none;
}

#bg-fullscreen{
    right: 0;
    top: 0;
}

.fullscreen-container:hover .tooltip {
    display: block;
}

.fullscreen-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.fullscreen-tooltip {
    position: relative;
    margin: 0;
    padding: 0;
    right: 0;
}

/* Tooltip visibility on input hover or active */
input[type="range"]:active, input[type="range"]:hover + .tooltip {
    display: block;
}

/* Range input common styling */
input[type="range"] {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fff0;
    overflow: hidden;
    position: relative;
    color: #ef233c;
    --thumb-height: 100%;
    --track-height: 10%;
    --track-color: rgba(0, 0, 0, 0.1);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
    transition: all ease 100ms;
}

input[type="range"].win10-thumb {
    color: #2b2d42;
    --thumb-height: 1.375em;
    --thumb-width: 0.5em;
    --clip-edges: 0.0125em;
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
    html {
        background-color: #000;
    }

    html::before {
        background: radial-gradient(circle at center, #101112, #000);
    }

    input[type="range"] {
        color: #b700ff;
        --track-color: rgba(255, 255, 255, 0.1);
    }

    input[type="range"].win10-thumb {
        color: #3a86ff;
    }
}

/* Range input hover, active, and disabled states */
input[type="range"]:hover {
    cursor: grab;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

/* WebKit specific styles */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 0.5rem;
    height: 1rem;
    background-color: currentColor;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

/* Firefox specific styles */
input[type="range"]::-moz-range-thumb {
    width: 0.5rem;
    height: 1rem;
    border-radius: 0;
    border-width: 0;
    background-color: currentColor;
}

input[type="range"]::-moz-range-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

/* Edge specific styles */
input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    width: 100%;
    height: var(--track-height);
    border-radius: 0.5rem;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: currentColor;
}

input[type="range"]::-ms-thumb {
    width: 0.5rem;
    height: 1rem;
    background-color: currentColor;
    border: none;
    border-radius: 0.5rem;
}

input[type="range"]::-ms-tooltip {
    display: none;
}
