body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    touch-action: none;
}

#panel {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlay {
    color: white;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
}

#overlay-info {
    padding: 5%;
    user-select: none;
}

.overlay label {
    padding-left: 2%;
    user-select: none;
}

.overlay .tooltip {
    margin-left: 0;
    padding-left: 2%;
    user-select: none;
}